/* style.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #111;
  text-align: center ;
  padding: 20px;
  color: #0aff0a;
  box-shadow: 0 0 10px #0aff0a50;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #0aff0a;
  font-weight: bold;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: x mandatory;
  
}

.game-card {
  flex: 0 0 auto;
  background-color: #222;
  border-radius: 16px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px #0aff0a50;
  scroll-snap-align: center;
 
}

.game-card:hover {
  transform: scale(1.08);

}
.game-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: #0aff0a50;
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin: 40px auto;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #0e0e0e;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

input, textarea {
  background: #2a2a2a;
  color: #fff;
}

button {
  background: #0aff0a;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #07e507;
}
body {
  overflow-x: hidden;}
h2 {
  text-align: center;
  color: #0aff0a;
}

a {
  color: #0aff0a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.carousel img {
  max-width: 90%;
  height: auto;
  display: block;
}
.game-card h2{
  color: #0aff0a;
}
.game-card p {
  color: #07e507;
}
.carousel-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
}
.carousel-wrapper section.carousel {
  min-width: 300px;
  scroll-snap-align: start;
}

